<h1><center>Day 3</center></h1>

# Loops

## For

In [1]:
ls = [
    [1,2,3],
    ['a', 'b', 'c']
     ]
ls

[[1, 2, 3], ['a', 'b', 'c']]

In [3]:
for l in ls:
    for i in l:
        print(i)

1
2
3
a
b
c

In [13]:
def shape(lst):
    return (f"row {len(lst)} column {len(lst[0])}")

In [15]:
print(ls,shape(ls),sep='\n')

[[1, 2, 3], ['a', 'b', 'c']]
row 2 column 3

> Find the Transpose of a nx2 list?

In [41]:
# output 
# [[1,'a'], [2,'b'], [3,'c']]

**Sum**

In [18]:
a = [ 12, 2, 4, 12, 20, 32, 3]

In [ ]:
# Sum using
# in-built function
sum(a)

In [21]:
# For loop
sum = 0
for i in a:
    sum += i
print(sum)

85

In [29]:
# use reduce
# def add(a, b):
#     return a + b

from functools import reduce

reduce(lambda x1, x2: x1 + x2 , a)
# reduce(add, [10, 20 ,23])

85

**Squaring the nums**

*ljust, center(width, character), rjust*

In [76]:
# for i in range(1,11):
#     print((str(i)+'-'+str(i**2)).center(15,'_'))
    
for i in range(1,11):
    print( str(i).ljust(4, ' ') + '-'.center(2, ' ') + str(i**2))

1   - 1
2   - 4
3   - 9
4   - 16
5   - 25
6   - 36
7   - 49
8   - 64
9   - 81
10  - 100

In [10]:
":help:(lstrip):".lstrip(':')

'help:(lstrip):'

In [44]:
for i in range(1,11):
    print(i**2, end=' ')

1 4 9 16 25 36 49 64 81 100

**Dictionary**

In [45]:
f_dict = { 
    "name"  :"apple",
    "colour":"red",
    "wt"    : "140g"
}

> Dictionary comprehension?

In [48]:
# inverse dictionary using comprehension
{v:k for k,v in f_dict.items()}

{'apple': 'name', 'red': 'colour', '140g': 'wt'}

In [53]:
k,v = f_dict.popitem()
print(k,v)

f_dict[k] = v

wt 140g

In [55]:
type(f_dict.items())

dict_items

**round**

In [61]:
prices = {
    "apple": 23.90,
    "banana": 40.7,
    "avacado": 80
}

In [68]:
# apply discount of 11%
disc_price = {}

for k,v in prices.items():
    disc_price[k] = round(v * (1 - 0.11), 2)
    
print(disc_price)

{'apple': 21.27, 'banana': 36.22, 'avacado': 71.2}

In [78]:
f_dict

{'name': 'apple', 'colour': 'red', 'wt': '140g'}

In [80]:
for x, y in zip(f_dict, disc_price):
    print(x, y,sep='\n')

name
apple
colour
banana
wt
avacado

*Multiplication table*

In [90]:
n = int(input('Table of n '))

for i in range(1, 11):
    print(i,'x',n,'=', n*i)

Table of n 5
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

In [94]:
inp = [ i for i in range(1,6)]
print("Sequence", inp)

power = int(input("Power:"))

for i in inp:
    print(i ** power, end=' ')

Sequence [1, 2, 3, 4, 5]
Power:6
1 64 729 4096 15625

In [98]:
start, end = 1, 10
# start, end = int(input("Start:")), int(input("End:"))

for i in range(start, end + 1):
    print(i, "even" if i&1 == 0 else "odd")

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even

In [101]:
odd_list = [i for i in range(start, end+1) if i&1 != 0]
even_list = [i for i in range(start, end+1) if i&1 == 0]

print(odd_list)
print(even_list)

[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

> What are `any` and `all` in python ?

In [ ]:
# All and Any are the shorthand for All True and Any 
print(any([True, True, False]))

print(all([True, True, False]))

> Which all datatypes share references when initialized in single line ?

- Lists 
- Dictionary
- Set

**note:** methods like append() will modify the common reference however, when you are reassigning the variable a new memory block is created and the reference is pointed leaving the other reference *INTACT*.

In [143]:
# Dictionary
a = b = {"a":12, "b":67}
b = {}

print(a)

# List
a = b = [1,2,3]
b.clear()

print(a)

# Set
a = b = {1, 2, 3}
# b = {5}
b.add(5)
print(a)

# Tuple
a = b = (1, 2, 3)
b = (5)

print(a)

{'a': 12, 'b': 67}
[]
{1, 2, 3, 5}
(1, 2, 3)

In [194]:
div_5 = []
div_7 = []    

for i in range(1, 101):
    if i%5 == 0:
        div_5.append(i)
#         print('div_5 :',div_5)
    if i%7 == 0:
        div_7.append(i)
#         print('div_7 :',div_7)
        
print('Complete div_5', div_5)
print('Complete div_7', div_7)

Complete div_5 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]
Complete div_7 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

**Observation**
- Single line initialization of lists do share the reference while appending.

In [121]:
# palindrome check
lst = ["mom", "wonderful", "tea", "always"]

palin_lst = []
non_palin_lst = []

for l  in lst:
    if l == l[::-1]:
        palin_lst.append(l)
        
    else:
        non_palin_lst.append(l)
        
print(f"plaindrome list: {palin_lst}")

print(f"non palindrome list{non_palin_lst}")

plaindrome list: ['mom']
non palindrome list['wonderful', 'tea', 'always']

> Difference between `is` and `==`?

In [131]:
# factorial 

n = 10
fact = 1
for i in range(1, n+1):
    fact *= i
print(fact)

3628800

**Break and continue**

In [138]:
for i in range(110, 130):
    if i == 124:
        print("Match found")
        break
else:
    print("This will print if not interrupted")
print("This is outermost text....")

Match found
This is outermost text....

In [141]:
for i in range(110, 130):
    if i == 124:
        print("The below instructions will be skipped...")
        continue
        print("Match found")
else:
    print("This will print if not interrupted")
print("This is outermost text....")

The below instructions will be skipped...
This will print if not interrupted
This is outermost text....

**while loop**

In [145]:
i = 0
while i <10:
    i+=1
    print(i)

1
2
3
4
5
6
7
8
9
10

In [152]:
# reverse sequence
i = 10

while i >= 0:
    print(str(i).rjust(i+1,' '))
    i -= 1

         10
         9
        8
       7
      6
     5
    4
   3
  2
 1
0

In [159]:
i = 1
n = int(input("Enter Limit :"))

while i <= n:
    print(str(i).ljust(4,' '), '=', i**2)
    i += 1

Enter Limit :12
1    = 1
2    = 4
3    = 9
4    = 16
5    = 25
6    = 36
7    = 49
8    = 64
9    = 81
10   = 100
11   = 121
12   = 144

> Magic commands supported in jupyter notebook ?

In [ ]:
%colors

In [164]:
lst = [ 3, 4, 6, 7, 8]
i = 0

while i < len(lst):
    print(lst[i], end=" ")
    i += 1

3 4 6 7 8

**Time the execution**

In [195]:
from time import time 

print(time())

1566446914.569038

In [169]:
# Sum of n 
n = 5

# method 1 
i = 1
n_sum = 0

%timeit
while i <= n:
    n_sum += i
    i += 1
print("Method 1", n_sum)

# method 2 - direct formula
print("Method 2", n * (n+1) / 2)

Method 1 15
Method 2 15.0

In [178]:
# Else in a while loop 
n = 6
i = 1

while i < n:
    if i == 4:
        i+=1
        continue
    print(i, "Jai hanuman")
    i += 1
else:
    print("No interruptions .....")

1 Jai hanuman
2 Jai hanuman
3 Jai hanuman
5 Jai hanuman
No interruptions .....

**List/Dict/Set/Tuple Comprehension**

**Observarions/Note:**
- [You can have tuple comprehension by type casting a generator](https://stackoverflow.com/questions/16940293/why-is-there-no-tuple-comprehension-in-python)
- [While loop wont work in comprehension however, itertools can be used](https://stackoverflow.com/questions/42707435/using-while-loops-in-list-comprehension)

In [190]:
tuple(i for i in range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [189]:
[i for i in range(1, 101) if i%5==0 and i % 7 == 0]

[35, 70]

> What are Generators?

**List of primes**

In [192]:
# 1 to n, find the primes
n = 50

# layman approach
def is_prime(num):
    for i in range(2, int(num**0.5 + 1)):
        if num%i == 0:
            return False
    return True

primes = [i for i in range(2, n+1) if is_prime(i)]

In [193]:
primes

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]