# Mid Exam

## Section A
2 * 4 = 8 Marks

### 1. List the difference between Tuple and List ?

Tuple are comma separated values enclosed within '(' and ')' brackets, whereas a list is a comman separated value enclosed by '[' and ']' square brackets.

In [1]:
tup = (1,2,3)
print(tup)

lst = [1,2,3]
print(lst)

(1, 2, 3)
[1, 2, 3]

The most important difference between Tuple and List is that Tuples are `immutable` whereas lists are `mutable`. 
Which means once tuples are initialized they cannot be modified further.

Example

In [2]:
print('Before edit',lst)
lst[0] = 10 
print(lst)

Before edit [1, 2, 3]
[10, 2, 3]

In [3]:
# This will throw up an error
print('Before edit',tup)
tup[0] = 10 
print(tup)

Before edit (1, 2, 3)

TypeError: 'tuple' object does not support item assignment

### 2.What is a dictionary in Python and  write a syntax to create a dictionary ?

- A dictionary in python is an advanced data type.
- It stores value in the key value format

In [5]:
d = {
    "Name":"Ram",
    "Age":24
}
print(d)

{'Name': 'Ram', 'Age': 24}

### 3. For the give List, print all the elements in reverse without the keyword reverse.
Lst  = [ 10,20,30,40]

In [6]:
lst = [ 10,20,30,40]

print(lst)
print("Reverse")
print(lst[::-1])

[10, 20, 30, 40]
Reverse
[40, 30, 20, 10]

### 4. Write a code to print the current system date ?

In [32]:
# Since the current format was not mentioned in the question, 
# I am using the date.localtime format 

import time

# tm_year, current year
# tm_mon, current month
# tm_mday, current day
tim = list(time.localtime(time.time()))
print(tim[2],"/",tim[1],"/",tim[0])

3 / 9 / 2019

## Section B
5 * 3 = 15 Marks

### 1. Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included).

In [8]:
out = [i for i in range(1500,2700 + 1) if i % 7 == 0 and i % 5 == 0]

print(out)
# print('Total elements:',len(out))

[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695]

### 2. Get sum of squares of all even and odd numbers between 334 and 667 (include both) in separate list.

In [9]:
start = 334
stop = 667

even = [i**2 for i in range(start,stop+1) if i%2==0]
odd = [i**2 for i in range(start,stop+1) if i%2!=0]

print("Sum of square of Even list:",sum(even))
print("Sum of square of Odd list:",sum(odd))

Sum of square of Even list: 43302432
Sum of square of Odd list: 43469599

### 3. Create a 3 column array with variables ‘Item’ with string datatype, ‘Count’ – int datatype, ‘Amount’ – float datatype.

    Load 4 records with sample data—vegetable,3,454.2; almond,15,762.1; cake,5,200; cashew,20,1400.4
    i) Display all the data
    ii) Display only the ‘Count’ column
    iii) Display only the first 2 values of the ‘Count’ column

In [10]:
# List of list
# col = 3 
# row = 4 
# lst 'string', int, float
# Item, Count, Amount
veg_list = [
    ["vegetable",3,454.2],
    ["almond",15,762.1],
    ["cake",5,200],
    ["cashew",20,1400.4]
]

# Question 1
print(veg_list);print()

# Question 2
for elem in veg_list:
    print(f'Count of  {elem[0]}:',elem[1])
print()
    
# Question 3
for elem in veg_list[:2]:
    print(f'Count of  {elem[0]}:',elem[1])
print()

[['vegetable', 3, 454.2], ['almond', 15, 762.1], ['cake', 5, 200], ['cashew', 20, 1400.4]]

Count of  vegetable: 3
Count of  almond: 15
Count of  cake: 5
Count of  cashew: 20

Count of  vegetable: 3
Count of  almond: 15

### 4. Calculate sum of 30 natural numbers using while loop (output: 465). Allow only if the loop is positive else throw an error

In [34]:
sum = 0 
i = 1
n = 30

if i < 0:
    print("Error")
else:
    while i <= n:
        sum += i
        i+=1
    
print(sum)

465

### 5. Check if the run time input value is a prime number or not

In [12]:
from math import sqrt

def is_prime(n):
    n = abs(n)
    for i in range(2,int(sqrt(n)+1)):
        if n % i == 0:
            return False
    return True

inp = int(input("Enter the integer:"))

print("The entered number is","Prime" if is_prime(inp) else "Not Prime")

Enter the integer:21
The entered number is Not Prime

## Section C

7 marks : 1 * 7 = 7 marks

### Created a nested dictionary with 2 records with below data  and do data slice to get  name, age and gender alone in each statement

In [13]:
#helper functions
def display(di):
    for k,v in di.items():
        print(k,":",v)

### Step1

Name : john
Age 27
Sex – male
Ans :
Name : Marie
Age 22
Sex – female

In [14]:
# Since the keys are not specified for the outer dictionary 
# Im choosing the keys as indexes

In [43]:
d = {
    
    1:{
       "Name":"john",
        "Age":27,
        "Sex":"male"
    },
    
    2:{
        "Name":"Marie",
        "Age":22,
        "Sex":"female"
    }
}
# d

for elem in d.values():
    for k,v in elem.items():
        print(k,":",v)

Name : john
Age : 27
Sex : male
Name : Marie
Age : 22
Sex : female

### Step 2 : add 3 rd element to the nest dictionary

name : Luna
age = 34
gender = female

In [44]:
new_d = {
    'Name': 'Luna', 'Age': 34, 'Sex': 'female'
}

d.update({3:new_d})
d

{1: {'Name': 'john', 'Age': 27, 'Sex': 'male'},
 2: {'Name': 'Marie', 'Age': 22, 'Sex': 'female'},
 3: {'Name': 'Luna', 'Age': 34, 'Sex': 'female'}}

### Step 3: Add an element from the nested dictionary

Luna , married - no
Peter.29,male, married - yes

In [45]:
# find Luna in the nested dictionary and add a new attribute to him
luna = {}
for elem in d.values():
    if elem['Name'] == 'Luna':
        luna = elem
        break

luna['married'] = "no"
print(luna,'\n')

# Since peter is a new entry update his details to the list
peter = {"Name":"Peter","Age":29,"Sex":"male","married":"yes"}
d.update({4:peter})
display(d)

{'Name': 'Luna', 'Age': 34, 'Sex': 'female', 'married': 'no'}

1 : {'Name': 'john', 'Age': 27, 'Sex': 'male'}
2 : {'Name': 'Marie', 'Age': 22, 'Sex': 'female'}
3 : {'Name': 'Luna', 'Age': 34, 'Sex': 'female', 'married': 'no'}
4 : {'Name': 'Peter', 'Age': 29, 'Sex': 'male', 'married': 'yes'}

### Step 4  :
Delete the element 3 which is married  from the nested dict

In [46]:
# delete elem 3 who is married
d.pop(4)
print('Deleted...','\n')
display(d)

Deleted...

1 : {'Name': 'john', 'Age': 27, 'Sex': 'male'}
2 : {'Name': 'Marie', 'Age': 22, 'Sex': 'female'}
3 : {'Name': 'Luna', 'Age': 34, 'Sex': 'female', 'married': 'no'}

### Step 5 :
How to delete the dictionary from the nested dict

Elements  in a dictionary can be removed using `pop()` `del`.

However in order to delete the whole dictionary `clear()` can be used.

In [47]:
d1 = d.copy()
print("Before clearing")
display(d1)
d1.clear()
print("After clearning")
display(d1)

Before clearing
1 : {'Name': 'john', 'Age': 27, 'Sex': 'male'}
2 : {'Name': 'Marie', 'Age': 22, 'Sex': 'female'}
3 : {'Name': 'Luna', 'Age': 34, 'Sex': 'female', 'married': 'no'}
After clearning

### Step 6 :  
Iterate through  nested dic and get the output in the below format

Person ID: 1
Name: John
Age: 27
Sex: Male

Person ID: 2
Name: Marie
Age: 22
Sex: Female

In [49]:
for key, val in d.items():
    print("Person ID:",key)
    for k,v in val.items():
        print(k,":",v)
    print()

Person ID: 1
Name : john
Age : 27
Sex : male

Person ID: 2
Name : Marie
Age : 22
Sex : female

Person ID: 3
Name : Luna
Age : 34
Sex : female
married : no