# IN CLASS LAB EXERCISE 03

In [1]:
import pandas as pd
import os

**Data Description:-**

**Survival**
0 = No, 1 = Yes

**pclass**
Ticket class
1 = 1st, 2 = 2nd, 3 = 3rd

**sex**
Sex

**Age**
Age in years

**sibsp**
siblings / spouses aboard the Titanic

**parch**
parents / children aboard the Titanic

**ticket**
Ticket number

**fare**
Passenger fare

**cabin**
Cabin number

**embarked**
Port of Embarkation
C = Cherbourg, Q = Queenstown, S = Southampton

In [ ]:
print(os.listdir('./data/'))

**Q.no (1) . Write a code to load 'train.csv' as data1 & 'test.csv' as data2.**

In [ ]:

data1 =

----

**Q.no (2) . Write a code to `concanate` data1 & data2 assign it as  `data_01`.**

---------------------------

**Q.no(3).Write a code to `MERGE`(`outer`)  data1 & data2 as `data`.**

----

**Q.no(4).Write a code to `JOIN`(`inner`) data1 & data2 as `data11`.**

-----------

**Q.no(5) . Write a code to `RENAME` the column from `sex` to `gender` and assign it to the new dataframe named as `data_02`.**

--------------

**Q.no(6) . Write a code to `drop` the column 'Ticket' and assign it to the new dataframe named as `data_03`.**

-----

**Q.no(7) . Write a code to `drop` the first five  `rows` of `data_03` as per there `index position`  .**

-----

**Q.no(8) . Write a code to `drop` the `column no. 2 ` of `data_03` as per there `index position` .**

------

**Q.no(9). Write a code to replace all the `3` in the `Pclass` to `2` of `data_02`and assign it to the new dataframe named as `data_04`.**

-------

**Q.no(10). Write a code to `map` all the females who are in `Pclass - 1` and males in `Pclass - 2` in `data_02`.**

--------------------

**Q.no(11). Write a code to identify duplicates in `Cabin` column and show a `count` of it from `data_02`.**

----------------

**Q.no(12). Write a code to `drop` all duplicates in `Fare` column from `data_03` and show `info()`.**

-----

**Q.no(13). Write a code to `show the summary statistics` for all numeric columns of  `data_01`.**

-----

**Q.no(14). Write a code to `show the summary statistics` for all columns that including 'categorical columns' of  `data_01`.**

---------------

**Q.no(15). Write a code to show `average` `age` of all the passengers of `data_01`.**

-------------------

**Q.no(16). Write a code to show the Middle value in `Survived` column of all the passengers from `data_01`.**

-----------------

**Q.no(17). Write a code to show mostly paid fare by all the passengers from `data_01`.**

---------------

**Q.no(18). Write a code to show how much do the `fare` is `skewed` in `data_01`.**

------------

**Q.no(19). Write a code to show how much is the `kurtosis` in `Age` column for data_01.**

-------

**Q.no(20).Write a code to show the `average age` of all the genders as per there respective `passenger class(Pclass)` for data_01.**

--------------

**Q.no(21). Write a code to show the `average fare` for all `individual` `'Pclass'`.**

----------

# -----------------------------------HAPPY LEARNING-----------------------------------------

------