# TAKE HOME LAB-EXERCISE - 02

(Kaggle games Dataset)

 We will be using the [games Dataset](https://www.kaggle.com/gutsyrobot/games-data/data) from Kaggle. 

**TAKE HOME LAB EXERCISE** answer below question.

In [1]:
import pandas as pd
import os

**Q.no(1). load the Data 'games.csv' as games.**

In [2]:
games = pd.read_csv('games.csv')
games.columns

Index(['id', 'type', 'name', 'yearpublished', 'minplayers', 'maxplayers',
       'playingtime', 'minplaytime', 'maxplaytime', 'minage', 'users_rated',
       'average_rating', 'bayes_average_rating', 'total_owners',
       'total_traders', 'total_wanters', 'total_wishers', 'total_comments',
       'total_weights', 'average_weight'],
      dtype='object')

-----

**Q.no(2). Check the head of the DataFrame.**

In [3]:
games.head()

,id,type,name,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,minage,users_rated,average_rating,bayes_average_rating,total_owners,total_traders,total_wanters,total_wishers,total_comments,total_weights,average_weight
0,12333,boardgame,Twilight Struggle,2005.0,2.0,2.0,180.0,180.0,180.0,13.0,20113,8.33774,8.22186,26647,372,1219,5865,5347,2562,3.4785
1,120677,boardgame,Terra Mystica,2012.0,2.0,5.0,150.0,60.0,150.0,12.0,14383,8.28798,8.14232,16519,132,1586,6277,2526,1423,3.8939
2,102794,boardgame,Caverna: The Cave Farmers,2013.0,1.0,7.0,210.0,30.0,210.0,12.0,9262,8.28994,8.06886,12230,99,1476,5600,1700,777,3.7761
3,25613,boardgame,Through the Ages: A Story of Civilization,2006.0,2.0,4.0,240.0,240.0,240.0,12.0,13294,8.20407,8.05804,14343,362,1084,5075,3378,1642,4.1590
4,3076,boardgame,Puerto Rico,2002.0,2.0,5.0,150.0,90.0,150.0,12.0,39883,8.14261,8.04524,44362,795,861,5414,9173,5213,3.2943

-----

**Q.no(3)How many rows and columns are there.**

In [4]:
games.describe()

,id,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,minage,users_rated,average_rating,bayes_average_rating,total_owners,total_traders,total_wanters,total_wishers,total_comments,total_weights,average_weight
count,81312.000000,81309.000000,81309.000000,81309.000000,81309.000000,81309.000000,81309.000000,81309.000000,81312.000000,81312.000000,81312.000000,81312.000000,81312.000000,81312.000000,81312.000000,81312.000000,81312.000000,81312.000000
mean,72278.150138,1806.630668,1.992018,5.637703,51.634788,49.276833,51.634788,6.983975,161.886585,4.212144,1.157632,262.502509,9.236423,12.688890,42.719144,49.290031,16.488009,0.908083
std,58818.237742,588.517834,0.931034,56.076890,345.699969,334.483934,345.699969,5.035138,1145.978126,3.056551,2.340033,1504.536693,39.757408,60.764207,239.292628,284.862853,115.980285,1.176002
min,1.000000,-3500.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,21339.750000,1984.000000,2.000000,2.000000,8.000000,10.000000,8.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,43258.000000,2003.000000,2.000000,4.000000,30.000000,30.000000,30.000000,8.000000,2.000000,5.265620,0.000000,7.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
75%,128836.500000,2010.000000,2.000000,6.000000,60.000000,60.000000,60.000000,12.000000,16.000000,6.718777,0.000000,51.000000,2.000000,3.000000,7.000000,9.000000,2.000000,1.916700
max,184451.000000,2018.000000,99.000000,11299.000000,60120.000000,60120.000000,60120.000000,120.000000,53680.000000,10.000000,8.221860,73188.000000,1395.000000,1586.000000,6402.000000,11798.000000,5996.000000,5.000000

In [5]:
print('Rows {} and Cols {}'.format(*games.shape))

Rows 81312 and Cols 20

-----

**Q.no(4). What is the average Playingtime of all the players in the dataset.**

In [6]:
print(games['playingtime'].mean())

51.63478827682052

-------------------

**Q.no(5).What is the highest number of comments received for a game.**

In [7]:
games['total_comments'].max()

11798

In [8]:
games[ games['total_comments'] == games['total_comments'].max() ]

,id,type,name,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,minage,users_rated,average_rating,bayes_average_rating,total_owners,total_traders,total_wanters,total_wishers,total_comments,total_weights,average_weight
165,13,boardgame,Catan,1995.0,3.0,4.0,90.0,90.0,90.0,10.0,53680,7.34303,7.21171,73188,1071,391,3201,11798,5996,2.3712
1965,13,boardgame,Catan,1995.0,3.0,4.0,90.0,90.0,90.0,10.0,53680,7.34303,7.21171,73188,1071,391,3201,11798,5996,2.3712

-------

**Q.no(6).What is the name of the game with id 1500.**

In [9]:
games[games['id'] == 1500]['name']

10592    Zocken
Name: name, dtype: object

------

**Q.no(7).which year was game with id 1600 was published.**

In [10]:
games[games['id'] == 1600]['yearpublished']

13270    1986.0
Name: yearpublished, dtype: float64

-----

**Q.no(8).Which game has received highest number of comments.**

In [11]:
games[games['total_comments'] == games['total_comments'].max()]

,id,type,name,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,minage,users_rated,average_rating,bayes_average_rating,total_owners,total_traders,total_wanters,total_wishers,total_comments,total_weights,average_weight
165,13,boardgame,Catan,1995.0,3.0,4.0,90.0,90.0,90.0,10.0,53680,7.34303,7.21171,73188,1071,391,3201,11798,5996,2.3712
1965,13,boardgame,Catan,1995.0,3.0,4.0,90.0,90.0,90.0,10.0,53680,7.34303,7.21171,73188,1071,391,3201,11798,5996,2.3712

-----

**Q.no(9).Which games have received least number of comments**

In [12]:
print(f"Total number of games: {len(games[games['total_comments'] == games['total_comments'].min()]['name'].values)}")
print(games[games['total_comments'] == games['total_comments'].min()]['name'].values)

Total number of games: 29001
['Looney Leo' 'Dump' 'Field of Fire' ... 'BEARanoia' 'Freight'
 'Bingo Animal Kids']

-----

**Q.no(10).How many unique games are there in the dataset.**

In [13]:
print(f"Total unique games: {len(pd.unique(games['name'].values))}")
print(pd.unique(games['name'].values))

Total unique games: 76036
['Twilight Struggle' 'Terra Mystica' 'Caverna: The Cave Farmers' ...
 'BEARanoia' 'Freight' 'Bingo Animal Kids']

----

**Q.no(11).How many boardgames and boardgameexpansions are there in the dataset.**

In [14]:
count_board = games['type'] == "boardgame"
count_board_expansion = games['type'] == "boardgameexpansion"

In [15]:
print(sum(count_board))
print(sum(count_board_expansion))
print('Total count', sum(count_board + count_board_expansion))

70820
10492
Total count 81312

c:\users\p s v\appdata\local\programs\python\python37-32\lib\site-packages\pandas\core\computation\expressions.py:194: UserWarning: evaluating in Python space because the '+' operator is not supported by numexpr for the bool dtype, use '|' instead
  op=op_str, alt_op=unsupported[op_str]

----

**Q.no(12) Show the average ratings of games in ascending order.**

In [16]:
print(games.sort_values(by='average_rating'))

           id                type                                     name  \
81311  184451           boardgame                        Bingo Animal Kids
46614   57399           boardgame                              Kugel-Duell
46615   57401           boardgame            Langohr, Schlitzohr, Rbe & Co
46616   57402           boardgame                                Latty Top
46617   57407           boardgame  Golden Years  Retirement Adventure Game
...       ...                 ...                                      ...
76117  170606           boardgame                                 AEROSTAR
76116  170604           boardgame                                 Renegade
55328   98868           boardgame                              The Puzzler
80276  181491           boardgame                              Filthy Mime
64898  135036  boardgameexpansion   Kingdom Death: Monster  Gorm Expansion

       yearpublished  minplayers  maxplayers  playingtime  minplaytime  \
81311         2010.0         1.0         6.0         10.0         10.0
46614         1980.0         2.0         2.0         15.0         15.0
46615         1983.0         2.0         4.0         15.0         15.0
46616         1983.0         2.0         4.0         30.0         30.0
46617         1988.0         2.0         6.0          0.0          0.0
...              ...         ...         ...          ...          ...
76117         2014.0         2.0         5.0         60.0         60.0
76116         2015.0         1.0         4.0         90.0         30.0
55328            0.0         2.0         4.0         60.0         60.0
80276         2015.0         3.0         0.0         90.0         30.0
64898         2015.0         1.0         6.0         30.0         30.0

       maxplaytime  minage  users_rated  average_rating  bayes_average_rating  \
81311         10.0     2.0            0             0.0                   0.0
46614         15.0     8.0            0             0.0                   0.0
46615         15.0     5.0            0             0.0                   0.0
46616         30.0     8.0            0             0.0                   0.0
46617          0.0     0.0            0             0.0                   0.0
...            ...     ...          ...             ...                   ...
76117         60.0    12.0            2            10.0                   0.0
76116         90.0    11.0            1            10.0                   0.0
55328         60.0    10.0            1            10.0                   0.0
80276         90.0    17.0            3            10.0                   0.0
64898         30.0    18.0            1            10.0                   0.0

       total_owners  total_traders  total_wanters  total_wishers  \
81311             0              0              0              0
46614             1              0              1              0
46615             2              1              0              0
46616             0              0              0              0
46617             1              1              0              0
...             ...            ...            ...            ...
76117             3              0              0              0
76116             4              0              4             42
55328             1              0              0              0
80276             1              0              0              3
64898            36              0              2              4

       total_comments  total_weights  average_weight
81311               0              0             0.0
46614               0              0             0.0
46615               1              0             0.0
46616               0              0             0.0
46617               0              0             0.0
...               ...            ...             ...
76117               1              1             5.0
76116               2              0             0.0
55328               0              1             1.0
80276               3              0             0.0
64898               3              1             4.0

[81312 rows x 20 columns]

----

**Q.no(13) Show the average ratings of games in descending order.**

In [17]:
print(games.sort_values(by='average_rating', ascending=False))

           id                type  \
74808  166729  boardgameexpansion
62260  127567  boardgameexpansion
72670  160007           boardgame
78071  175640           boardgame
79305  179159  boardgameexpansion
...       ...                 ...
50664   70942           boardgame
50661   70938           boardgame
50659   70925           boardgame
50653   70915           boardgame
81311  184451           boardgame

                                                    name  yearpublished  \
74808  Age of Conan: The Strategy Board Game  Adventu...         2015.0
62260                                       -(Mathul8)^2         2011.0
72670                                             Kamara         2014.0
78071                              Vinhos Deluxe Edition         2016.0
79305            Zombicide: Black Plague Survivor  Gowan         2015.0
...                                                  ...            ...
50664                                Battleships Zenith!         2004.0
50661                                  Along Bible Roads         1960.0
50659                                         Renpaarden            0.0
50653                          The Stork Didn't Bring Me         1988.0
81311                                  Bingo Animal Kids         2010.0

       minplayers  maxplayers  playingtime  minplaytime  maxplaytime  minage  \
74808         0.0         0.0          0.0          0.0          0.0     0.0
62260         1.0         4.0          5.0          5.0          5.0    10.0
72670         2.0         8.0         25.0         25.0         25.0    12.0
78071         2.0         4.0        135.0         60.0        135.0    14.0
79305         1.0         6.0          0.0          0.0          0.0    10.0
...           ...         ...          ...          ...          ...     ...
50664         1.0         4.0         60.0         60.0         60.0    13.0
50661         3.0        15.0          0.0          0.0          0.0     0.0
50659         2.0         2.0         20.0         20.0         20.0     0.0
50653         2.0         4.0          0.0          0.0          0.0     5.0
81311         1.0         6.0         10.0         10.0         10.0     2.0

       users_rated  average_rating  bayes_average_rating  total_owners  \
74808            2            10.0                   0.0            67
62260            1            10.0                   0.0             2
72670            1            10.0                   0.0             2
78071            1            10.0                   0.0             3
79305            1            10.0                   0.0            25
...            ...             ...                   ...           ...
50664            0             0.0                   0.0             1
50661            0             0.0                   0.0             0
50659            0             0.0                   0.0             3
50653            0             0.0                   0.0             0
81311            0             0.0                   0.0             0

       total_traders  total_wanters  total_wishers  total_comments  \
74808              0             13             65              33
62260              1              0              0               0
72670              0              0              0               0
78071              0             27            155               3
79305              0              2              9               7
...              ...            ...            ...             ...
50664              0              0              0               0
50661              0              0              0               0
50659              0              0              0               1
50653              0              0              0               0
81311              0              0              0               0

       total_weights  average_weight
74808              1             4.0
62260              2             1.0
72670              0             0.0
78071              0             0.0
79305              0             0.0
...              ...             ...
50664              0             0.0
50661              0             0.0
50659              0             0.0
50653              0             0.0
81311              0             0.0

[81312 rows x 20 columns]

----

**Q.no(14).What is the dense rank order of the games as per there average rating.**

In [18]:
print(games['average_rating'].rank(method='dense'))

0        17105.0
1        17041.0
2        17044.0
3        16909.0
4        16788.0
          ...
81307        1.0
81308        1.0
81309        1.0
81310        1.0
81311        1.0
Name: average_rating, Length: 81312, dtype: float64

------

# --------------------------------HAPPY LEARNING---------------------------------------

-------