# IN CLASS LAB EXERCISE - 02

(Kaggle Automobile Dataset)

 We will be using the [automobiles Dataset](https://www.kaggle.com/nisargpatel/automobiles/data) from Kaggle. 

**INCLASS LAB EXERCISE** answer below question. Load pandas as pd and upload the Automobile.csv file as auto


1. symboling: -3, -2, -1, 0, 1, 2, 3. 
2. normalized-losses: continuous from 65 to 256. 
3. make: 
alfa-romero, audi, bmw, chevrolet, dodge, honda, 
isuzu, jaguar, mazda, mercedes-benz, mercury, 
mitsubishi, nissan, peugot, plymouth, porsche, 
renault, saab, subaru, toyota, volkswagen, volvo 

4. fuel-type: diesel, gas. 
5. aspiration: std, turbo. 
6. num-of-doors: four, two. 
7. body-style: hardtop, wagon, sedan, hatchback, convertible. 
8. drive-wheels: 4wd, fwd, rwd. 
9. engine-location: front, rear. 
10. wheel-base: continuous from 86.6 120.9. 
11. length: continuous from 141.1 to 208.1. 
12. width: continuous from 60.3 to 72.3. 
13. height: continuous from 47.8 to 59.8. 
14. curb-weight: continuous from 1488 to 4066. 
15. engine-type: dohc, dohcv, l, ohc, ohcf, ohcv, rotor. 
16. num-of-cylinders: eight, five, four, six, three, twelve, two. 
17. engine-size: continuous from 61 to 326. 
18. fuel-system: 1bbl, 2bbl, 4bbl, idi, mfi, mpfi, spdi, spfi. 
19. bore: continuous from 2.54 to 3.94. 
20. stroke: continuous from 2.07 to 4.17. 
21. compression-ratio: continuous from 7 to 23. 
22. horsepower: continuous from 48 to 288. 
23. peak-rpm: continuous from 4150 to 6600. 
24. city-mpg: continuous from 13 to 49. 
25. highway-mpg: continuous from 16 to 54. 
26. price: continuous from 5118 to 45400.

--------

In [1]:
import pandas as pd
df = pd.read_csv('Automobile.csv')

**Q.no(1). Check the head of the DataFrame.**

In [2]:
df.head()

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

------------------

**Q.no(2). How many rows and columns are there.**

In [3]:
df.shape

(201, 26)

In [4]:
print("Rows {} and columns {}".format(*df.shape))

Rows 201 and columns 26

---------------------

**Q.no(3). What is the average Price of all cars in the dataset.**

In [5]:
df['price'].mean()

13207.129353233831

-------------------------------

**Q.no(4). Which is the cheapest make and costliest make of car in the lot.**

In [6]:
print(df['price'].min())

5118

In [7]:
df.columns

Index(['symboling', 'normalized_losses', 'make', 'fuel_type', 'aspiration',
       'number_of_doors', 'body_style', 'drive_wheels', 'engine_location',
       'wheel_base', 'length', 'width', 'height', 'curb_weight', 'engine_type',
       'number_of_cylinders', 'engine_size', 'fuel_system', 'bore', 'stroke',
       'compression_ratio', 'horsepower', 'peak_rpm', 'city_mpg',
       'highway_mpg', 'price'],
      dtype='object')

In [8]:
print('Cheapest:',df['price'].min(),"name:", df[df['price'] == df['price'].min()]['make'].values)
print('Costliest:',df['price'].max(),"name:",df[df['price'] == df['price'].max()]['make'].values)

Cheapest: 5118 name: ['subaru']
Costliest: 45400 name: ['mercedes-benz']

--------------------

**Q.no(5). How many cars have horsepower greater than 100.**

In [9]:
print(sum(df['horsepower'] > 100))

90

----------------

**Q.no(6). How many hatchback cars are in the dataset .**

In [10]:
sum(df['body_style'] == 'hatchback')

68

-------------------

**Q.no(7). What are the 3 most commonly found cars in the dataset?**

In [11]:
print(df['make'].value_counts()[:3])

toyota    32
nissan    18
mazda     17
Name: make, dtype: int64

-----

**Q.no(8). Someone purchased a car for 7099, what is the make of the car?**

In [12]:
df[df['price'] == 7099]['make']

87    nissan
Name: make, dtype: object

-------------

**Q.no(9). Which cars are priced greater than 40000.**

In [13]:
print(df[df['price'] > 40000].loc[:,['make','price']])

             make  price
15            bmw  41315
70  mercedes-benz  40960
71  mercedes-benz  45400

---

**Q.no(10). Which are the cars that are both a sedan and priced less than 7000?**

In [14]:
print(df[ (df['body_style'] == 'sedan') & (df['price'] < 7000)])

     symboling  normalized_losses        make fuel_type aspiration  \
19           0                 81   chevrolet       gas        std
24           1                148       dodge       gas        std
42           0                110       isuzu       gas        std
50           1                113       mazda       gas        std
82           1                125  mitsubishi       gas        std
86           1                128      nissan       gas        std
88           1                128      nissan       gas        std
89           1                122      nissan       gas        std
118          1                154    plymouth       gas        std
152          0                 91      toyota       gas        std

    number_of_doors body_style drive_wheels engine_location  wheel_base  ...  \
19             four      sedan          fwd           front        94.5  ...
24             four      sedan          fwd           front        93.7  ...
42             four      sedan          rwd           front        94.3  ...
50             four      sedan          fwd           front        93.1  ...
82             four      sedan          fwd           front        96.3  ...
86              two      sedan          fwd           front        94.5  ...
88              two      sedan          fwd           front        94.5  ...
89             four      sedan          fwd           front        94.5  ...
118            four      sedan          fwd           front        93.7  ...
152            four      sedan          fwd           front        95.7  ...

     engine_size  fuel_system  bore  stroke compression_ratio horsepower  \
19            90         2bbl  3.03    3.11               9.6         70
24            90         2bbl  2.97    3.23               9.4         68
42           111         2bbl  3.31    3.23               8.5         78
50            91         2bbl  3.03    3.15               9.0         68
82           122         2bbl  3.35    3.46               8.5         88
86            97         2bbl  3.15    3.29               9.4         69
88            97         2bbl  3.15    3.29               9.4         69
89            97         2bbl  3.15    3.29               9.4         69
118           90         2bbl  2.97    3.23               9.4         68
152           98         2bbl  3.19    3.03               9.0         70

     peak_rpm city_mpg  highway_mpg  price
19       5400       38           43   6575
24       5500       31           38   6692
42       4800       24           29   6785
50       5000       31           38   6695
82       5000       25           32   6989
86       5200       31           37   5499
88       5200       31           37   6649
89       5200       31           37   6849
118      5500       31           38   6692
152      4800       30           37   6938

[10 rows x 26 columns]

---------------

**Q.no(11) Show the prices of cars in ascending order.**

In [15]:
df.sort_values(by='price')['price']

134     5118
17      5151
47      5195
146     5348
73      5389
       ...
16     36880
125    37028
70     40960
15     41315
71     45400
Name: price, Length: 201, dtype: int64

--------

**Q.no(12).Show the prices of the cars in descending order.**

In [16]:
print(df.sort_values(by='price', ascending=False)['price'])

71     45400
15     41315
70     40960
125    37028
16     36880
       ...
73      5389
146     5348
47      5195
17      5151
134     5118
Name: price, Length: 201, dtype: int64

----------------

**Q.no(12).What is the rank order of the cars as per there horsepower.**

In [17]:
df['horsepower'].rank()

0      133.5
1      133.5
2      175.0
3      120.0
4      144.0
       ...
196    140.5
197    182.0
198    162.0
199    123.0
200    140.5
Name: horsepower, Length: 201, dtype: float64

---------------------

**Q.no(13).What is the rank order of the cars as per there minimum prices.**

In [18]:
df['min_rank'] = df[['price']].rank(method="min")
df['min_rank']

0      130.0
1      150.0
2      150.0
3      136.0
4      162.0
       ...
196    157.0
197    175.0
198    179.0
199    181.0
200    182.0
Name: min_rank, Length: 201, dtype: float64

------

**Q.no(14).What is the rank order of the cars as per there maximum prices.**

In [19]:
df[['price']].rank(method="max")

     price
0    130.0
1    151.0
2    151.0
3    136.0
4    162.0
..     ...
196  157.0
197  175.0
198  179.0
199  181.0
200  182.0

[201 rows x 1 columns]

-------------

**Q.no(15).What is the dense rank order of the cars as per there horsepower.**

In [20]:
df['horsepower'].rank(method="dense")

0      31.0
1      31.0
2      46.0
3      28.0
4      34.0
       ...
196    33.0
197    49.0
198    39.0
199    29.0
200    33.0
Name: horsepower, Length: 201, dtype: float64

--------------

**Q.no(16). Write a code to display the  `make` and `price` of `5,6,10` rows.**

In [21]:
print(df[['make','price']].iloc[[5,6,10]])

    make  price
5   audi  15250
6   audi  17710
10   bmw  16925

------

**Q.no(17). Write a code to display the  `first five columns` and  `5 to 10 rows` using as per `index position`.**

In [23]:
df.iloc[5:11, :5]

    symboling  normalized_losses  make fuel_type aspiration
5           2                161  audi       gas        std
6           1                158  audi       gas        std
7           1                168  audi       gas        std
8           1                158  audi       gas      turbo
9           2                192   bmw       gas        std
10          0                192   bmw       gas        std

------------------------------------

# ----------------------------------HAPPY LEARNING----------------------------------------

-------