<h1><center> Day 2</center> </h1>

> 1. What are Data structures ?
2. Why dictionaries are fast ?
3. Casting to a dictionary ?
4. Transpose of a list ?
5. What all objects are iterable ?

*Useful methods*

```python
help(), type(), dir()
```

In [54]:
help(set.issubset)

Help on method_descriptor:

issubset(...)
    Report whether another set contains this set.

# Advanced or complex data types

## Tuple

In [1]:
t = (12, 23, 'asd')
t

(12, 23, 'asd')

In [ ]:
t1 = (23, 'String', True, 123.2, 10j)
t1

In [5]:
type(t1[4])

complex

In [7]:
# Employee details 
emp = (1621, 'Vishnu', 'Trivandrum', 2300000, False)

emp

(1621, 'Vishnu', 'Trivandrum', 2300000, False)

In [11]:
print(len(emp))
print(emp * 2, len(emp * 2
                  ))

5
(1621, 'Vishnu', 'Trivandrum', 2300000, False, 1621, 'Vishnu', 'Trivandrum', 2300000, False) 10

In [12]:
x = (1, 4)
y = (3, 6)

x + y

(1, 4, 3, 6)

> Why addition is not possible in the above code?


        Eventhough

In [13]:
x - y

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

**Membership operator**

In [14]:
print(x)

print(2 in x)

(1, 4)
False

In [22]:
nm = "great"
mn = "learning"

# for i,a in enumerate(nm):
#     print(i, a)

for x, y in zip(nm, mn):
    print(x, y)

# print(list(nm))

g l
r e
e a
a r
t n

**Observation**
- while using zip() the number of iteration is the smallest length

**Casting to tuple ?**

In [31]:
test_tuple = tuple(nm)

In [32]:
test_tuple

('g', 'r', 'e', 'a', 't')

In [34]:
print(str(test_tuple))

('g', 'r', 'e', 'a', 't')

**Observation**
- While converting from tuple to string the '(' and ')' also gets appended.

In [35]:
print(type(test_tuple))

tuple

In [39]:
# default is ascending
print(sorted(test_tuple))

print(sorted(test_tuple, reverse=True))

['a', 'e', 'g', 'r', 't']
['t', 'r', 'g', 'e', 'a']

> Data slicing in tuple?

In [42]:
test_tuple[::-1]

('t', 'a', 'e', 'r', 'g')

In [43]:
print(emp)

(1621, 'Vishnu', 'Trivandrum', 2300000, False)

In [44]:
emp[1:4]

('Vishnu', 'Trivandrum', 2300000)

In [45]:
string = "Does character exists"

print(type(string[0]))

<class 'str'>

In [47]:
emp[1:]

('Vishnu', 'Trivandrum', 2300000, False)

In [48]:
emp[1:len(emp)]

('Vishnu', 'Trivandrum', 2300000, False)

In [50]:
emp[-1:0:-1]

(False, 2300000, 'Trivandrum', 'Vishnu')

In [52]:
emp[0] = 2000

TypeError: 'tuple' object does not support item assignment

In [57]:
print(emp)
print(len(emp))

(1621, 'Vishnu', 'Trivandrum', 2300000, False)
5

In [61]:
# index of element 
emp.index(1621)

0

In [66]:
type((1,))

tuple

In [68]:
emp1 = emp + ("Star of the Quarter",)
emp1

(1621, 'Vishnu', 'Trivandrum', 2300000, False, 'Star of the Quarter')

In [69]:
del emp1

In [70]:
emp1

NameError: name 'emp1' is not defined

## List

In [71]:
lst = ["a", "b", "c"]

for i in lst:
    print(i)
    
print("Is d in lst? ", "d" in lst)

a
b
c
Is d in lst  False

### Casting

In [72]:
tup = ('a', 23.4, [412])

lst1 = list(tup)

lst1

['a', 23.4, [412]]

In [73]:
tup

('a', 23.4, [412])

In [74]:
tup = tup + ('It can override',)
tup

('a', 23.4, [412], 'It can override')

In [75]:
# string to list

list("Great learning")

['G', 'r', 'e', 'a', 't', ' ', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g']

In [77]:
# now casting without blank spaces

list("".join("P S Vishnu".split()))

['P', 'S', 'V', 'i', 's', 'h', 'n', 'u']

In [78]:
lst1

['a', 23.4, [412]]

In [79]:
lst1.insert(2,"test")
lst1

['a', 23.4, 'test', [412]]

In [81]:
lst1.count(1)

0

In [85]:
help(lst1.extend)

Help on built-in function extend:

extend(iterable, /) method of builtins.list instance
    Extend list by appending elements from the iterable.

In [86]:
lst1

['a', 23.4, 'test', [412]]

> Number of vowels in a sentence ?

        try if a list `in` another list

In [93]:
List = lst1.extend(tup)

List

> Find all the indexes of a vowels in a word ?

In [96]:
lst1

['a', 23.4, 'test', [412], 1, 'a', 23.4, [412]]

In [95]:
lst1.pop()

'It can override'