# TAKE HOME LAB-EXERCISE - 02

(Kaggle games Dataset)

 We will be using the [games Dataset](https://www.kaggle.com/gutsyrobot/games-data/data) from Kaggle. 

**TAKE HOME LAB EXERCISE** answer below question.

In [1]:
import pandas as pd
import os

**Q.no(1). load the Data 'games.csv' as games.**

In [3]:
games = pd.read_csv('games.csv')
games.columns

Index(['id', 'type', 'name', 'yearpublished', 'minplayers', 'maxplayers',
       'playingtime', 'minplaytime', 'maxplaytime', 'minage', 'users_rated',
       'average_rating', 'bayes_average_rating', 'total_owners',
       'total_traders', 'total_wanters', 'total_wishers', 'total_comments',
       'total_weights', 'average_weight'],
      dtype='object')

-----

**Q.no(2). Check the head of the DataFrame.**

In [4]:
games.head()

,id,type,name,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,minage,users_rated,average_rating,bayes_average_rating,total_owners,total_traders,total_wanters,total_wishers,total_comments,total_weights,average_weight
0,12333,boardgame,Twilight Struggle,2005.0,2.0,2.0,180.0,180.0,180.0,13.0,20113,8.33774,8.22186,26647,372,1219,5865,5347,2562,3.4785
1,120677,boardgame,Terra Mystica,2012.0,2.0,5.0,150.0,60.0,150.0,12.0,14383,8.28798,8.14232,16519,132,1586,6277,2526,1423,3.8939
2,102794,boardgame,Caverna: The Cave Farmers,2013.0,1.0,7.0,210.0,30.0,210.0,12.0,9262,8.28994,8.06886,12230,99,1476,5600,1700,777,3.7761
3,25613,boardgame,Through the Ages: A Story of Civilization,2006.0,2.0,4.0,240.0,240.0,240.0,12.0,13294,8.20407,8.05804,14343,362,1084,5075,3378,1642,4.1590
4,3076,boardgame,Puerto Rico,2002.0,2.0,5.0,150.0,90.0,150.0,12.0,39883,8.14261,8.04524,44362,795,861,5414,9173,5213,3.2943

-----

**Q.no(3)How many rows and columns are there.**

In [10]:
games.describe()

,id,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,minage,users_rated,average_rating,bayes_average_rating,total_owners,total_traders,total_wanters,total_wishers,total_comments,total_weights,average_weight
count,81312.000000,81309.000000,81309.000000,81309.000000,81309.000000,81309.000000,81309.000000,81309.000000,81312.000000,81312.000000,81312.000000,81312.000000,81312.000000,81312.000000,81312.000000,81312.000000,81312.000000,81312.000000
mean,72278.150138,1806.630668,1.992018,5.637703,51.634788,49.276833,51.634788,6.983975,161.886585,4.212144,1.157632,262.502509,9.236423,12.688890,42.719144,49.290031,16.488009,0.908083
std,58818.237742,588.517834,0.931034,56.076890,345.699969,334.483934,345.699969,5.035138,1145.978126,3.056551,2.340033,1504.536693,39.757408,60.764207,239.292628,284.862853,115.980285,1.176002
min,1.000000,-3500.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,21339.750000,1984.000000,2.000000,2.000000,8.000000,10.000000,8.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,43258.000000,2003.000000,2.000000,4.000000,30.000000,30.000000,30.000000,8.000000,2.000000,5.265620,0.000000,7.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
75%,128836.500000,2010.000000,2.000000,6.000000,60.000000,60.000000,60.000000,12.000000,16.000000,6.718777,0.000000,51.000000,2.000000,3.000000,7.000000,9.000000,2.000000,1.916700
max,184451.000000,2018.000000,99.000000,11299.000000,60120.000000,60120.000000,60120.000000,120.000000,53680.000000,10.000000,8.221860,73188.000000,1395.000000,1586.000000,6402.000000,11798.000000,5996.000000,5.000000

In [17]:
print('Rows {} and Cols {}'.format(*games.shape))

Rows 81312 and Cols 20

-----

**Q.no(4). What is the average Playingtime of all the players in the dataset.**

In [22]:
print(games['playingtime'].mean())

51.63478827682052

-------------------

**Q.no(5).What is the highest number of comments received for a game.**

In [24]:
games['total_comments'].max()

11798

In [23]:
games[ games['total_comments'] == games['total_comments'].max() ]

,id,type,name,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,minage,users_rated,average_rating,bayes_average_rating,total_owners,total_traders,total_wanters,total_wishers,total_comments,total_weights,average_weight
165,13,boardgame,Catan,1995.0,3.0,4.0,90.0,90.0,90.0,10.0,53680,7.34303,7.21171,73188,1071,391,3201,11798,5996,2.3712
1965,13,boardgame,Catan,1995.0,3.0,4.0,90.0,90.0,90.0,10.0,53680,7.34303,7.21171,73188,1071,391,3201,11798,5996,2.3712

-------

**Q.no(6).What is the name of the game with id 1500.**

In [25]:
games[games['id'] == 1500]['name']

10592    Zocken
Name: name, dtype: object

------

**Q.no(7).which year was game with id 1600 was published.**

In [27]:
games[games['id'] == 1600]['yearpublished']

13270    1986.0
Name: yearpublished, dtype: float64

-----

**Q.no(8).Which game has received highest number of comments.**

In [34]:
games[games['total_comments'] == games['total_comments'].max()]

,id,type,name,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,minage,users_rated,average_rating,bayes_average_rating,total_owners,total_traders,total_wanters,total_wishers,total_comments,total_weights,average_weight
165,13,boardgame,Catan,1995.0,3.0,4.0,90.0,90.0,90.0,10.0,53680,7.34303,7.21171,73188,1071,391,3201,11798,5996,2.3712
1965,13,boardgame,Catan,1995.0,3.0,4.0,90.0,90.0,90.0,10.0,53680,7.34303,7.21171,73188,1071,391,3201,11798,5996,2.3712

-----

**Q.no(9).Which games have received least number of comments**

In [43]:
print(f"Total number of games: {len(games[games['total_comments'] == games['total_comments'].min()]['name'].values)}")
print(games[games['total_comments'] == games['total_comments'].min()]['name'].values)

Total number of games: 29001
['Looney Leo' 'Dump' 'Field of Fire' ... 'BEARanoia' 'Freight'
 'Bingo Animal Kids']

-----

**Q.no(10).How many unique games are there in the dataset.**

In [47]:
print(f"Total unique games: {len(pd.unique(games['name'].values))}")
print(pd.unique(games['name'].values))

Total unique games: 76036
['Twilight Struggle' 'Terra Mystica' 'Caverna: The Cave Farmers' ...
 'BEARanoia' 'Freight' 'Bingo Animal Kids']

----

**Q.no(11).How many boardgames and boardgameexpansions are there in the dataset.**

In [65]:
games["type"]

0                 boardgame
1                 boardgame
2                 boardgame
3                 boardgame
4                 boardgame
                ...
81307    boardgameexpansion
81308             boardgame
81309             boardgame
81310             boardgame
81311             boardgame
Name: type, Length: 81312, dtype: object

In [58]:
count_board = games['type'] == "boardgame"
count_board_expansion = games['type'] == "boardgameexpansion"

In [62]:
print(sum(count_board))

70820

In [18]:
games.columns

Index(['id', 'type', 'name', 'yearpublished', 'minplayers', 'maxplayers',
       'playingtime', 'minplaytime', 'maxplaytime', 'minage', 'users_rated',
       'average_rating', 'bayes_average_rating', 'total_owners',
       'total_traders', 'total_wanters', 'total_wishers', 'total_comments',
       'total_weights', 'average_weight'],
      dtype='object')

----

**Q.no(12) Show the average ratings of games in ascending order.**

----

**Q.no(13) Show the average ratings of games in ascending order.**

----

**Q.no(14).What is the dense rank order of the games as per there average rating.**

------

# --------------------------------HAPPY LEARNING---------------------------------------

-------