# IN CLASS LAB EXERCISE - 02

(Kaggle Automobile Dataset)

 We will be using the [automobiles Dataset](https://www.kaggle.com/nisargpatel/automobiles/data) from Kaggle. 

**INCLASS LAB EXERCISE** answer below question. Load pandas as pd and upload the Automobile.csv file as auto


1. symboling: -3, -2, -1, 0, 1, 2, 3. 
2. normalized-losses: continuous from 65 to 256. 
3. make: 
alfa-romero, audi, bmw, chevrolet, dodge, honda, 
isuzu, jaguar, mazda, mercedes-benz, mercury, 
mitsubishi, nissan, peugot, plymouth, porsche, 
renault, saab, subaru, toyota, volkswagen, volvo 

4. fuel-type: diesel, gas. 
5. aspiration: std, turbo. 
6. num-of-doors: four, two. 
7. body-style: hardtop, wagon, sedan, hatchback, convertible. 
8. drive-wheels: 4wd, fwd, rwd. 
9. engine-location: front, rear. 
10. wheel-base: continuous from 86.6 120.9. 
11. length: continuous from 141.1 to 208.1. 
12. width: continuous from 60.3 to 72.3. 
13. height: continuous from 47.8 to 59.8. 
14. curb-weight: continuous from 1488 to 4066. 
15. engine-type: dohc, dohcv, l, ohc, ohcf, ohcv, rotor. 
16. num-of-cylinders: eight, five, four, six, three, twelve, two. 
17. engine-size: continuous from 61 to 326. 
18. fuel-system: 1bbl, 2bbl, 4bbl, idi, mfi, mpfi, spdi, spfi. 
19. bore: continuous from 2.54 to 3.94. 
20. stroke: continuous from 2.07 to 4.17. 
21. compression-ratio: continuous from 7 to 23. 
22. horsepower: continuous from 48 to 288. 
23. peak-rpm: continuous from 4150 to 6600. 
24. city-mpg: continuous from 13 to 49. 
25. highway-mpg: continuous from 16 to 54. 
26. price: continuous from 5118 to 45400.

--------

In [2]:
import pandas as pd
df = pd.read_csv('Automobile.csv')

**Q.no(1). Check the head of the DataFrame.**

In [3]:
df.head()

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

------------------

**Q.no(2). How many rows and columns are there.**

In [ ]:
print("Rows{} and columns {}"{*df.shape()})

---------------------

**Q.no(3). What is the average Price of all cars in the dataset.**

-------------------------------

**Q.no(4). Which is the cheapest make and costliest make of car in the lot.**

--------------------

**Q.no(5). How many cars have horsepower greater than 100.**

----------------

**Q.no(6). How many hatchback cars are in the dataset .**

-------------------

**Q.no(7). What are the 3 most commonly found cars in the dataset?**

-----

**Q.no(8). Someone purchased a car for 7099, what is the make of the car?**

-------------

**Q.no(9). Which cars are priced greater than 40000.**

---

**Q.no(10). Which are the cars that are both a sedan and priced less than 7000?**

---------------

**Q.no(11) Show the prices of cars in ascending order.**

--------

**Q.no(12).Show the prices of the cars in descending order.**

----------------

**Q.no(12).What is the rank order of the cars as per there horsepower.**

---------------------

**Q.no(13).What is the rank order of the cars as per there minimum prices.**

------

**Q.no(14).What is the rank order of the cars as per there maximum prices.**

-------------

**Q.no(15).What is the dense rank order of the cars as per there horsepower.**

--------------

**Q.no(16). Write a code to display the  `make` and `price` of `5,6,10` rows.**

------

**Q.no(17). Write a code to display the  `first five columns` and  `5 to 10 rows` using as per `index position`.**

------------------------------------

# ----------------------------------HAPPY LEARNING----------------------------------------

-------