<h1><center> Day 2</center> </h1>

> - What are Data structures vs advanced type ?
- Why are dictionaries fast ?
- Transpose of a list ?
- What all objects are iterable ?
- What is a NoneType ? Is it a type ?

*Useful methods*

```python
help(), type(), dir()
```

In [54]:
help(set.issubset)

Help on method_descriptor:

issubset(...)
    Report whether another set contains this set.

# Advanced or complex data types

## Tuple

In [1]:
t = (12, 23, 'asd')
t

(12, 23, 'asd')

In [ ]:
t1 = (23, 'String', True, 123.2, 10j)
t1

In [5]:
type(t1[4])

complex

In [7]:
# Employee details 
emp = (1621, 'Vishnu', 'Trivandrum', 2300000, False)

emp

(1621, 'Vishnu', 'Trivandrum', 2300000, False)

In [11]:
print(len(emp))
print(emp * 2, len(emp * 2
                  ))

5
(1621, 'Vishnu', 'Trivandrum', 2300000, False, 1621, 'Vishnu', 'Trivandrum', 2300000, False) 10

In [12]:
x = (1, 4)
y = (3, 6)

x + y

(1, 4, 3, 6)

> Why addition is not possible in the above code?


        Eventhough

In [13]:
x - y

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

**Membership operator**

In [14]:
print(x)

print(2 in x)

(1, 4)
False

In [22]:
nm = "great"
mn = "learning"

# for i,a in enumerate(nm):
#     print(i, a)

for x, y in zip(nm, mn):
    print(x, y)

# print(list(nm))

g l
r e
e a
a r
t n

**Observation**
- while using zip() the number of iteration is the smallest length

**Casting to tuple ?**

In [31]:
test_tuple = tuple(nm)

In [32]:
test_tuple

('g', 'r', 'e', 'a', 't')

In [34]:
print(str(test_tuple))

('g', 'r', 'e', 'a', 't')

**Observation**
- While converting from tuple to string the '(' and ')' also gets appended.

In [35]:
print(type(test_tuple))

tuple

In [39]:
# default is ascending
print(sorted(test_tuple))

print(sorted(test_tuple, reverse=True))

['a', 'e', 'g', 'r', 't']
['t', 'r', 'g', 'e', 'a']

> Data slicing in tuple?

In [42]:
test_tuple[::-1]

('t', 'a', 'e', 'r', 'g')

In [43]:
print(emp)

(1621, 'Vishnu', 'Trivandrum', 2300000, False)

In [44]:
emp[1:4]

('Vishnu', 'Trivandrum', 2300000)

In [45]:
string = "Does character exists"

print(type(string[0]))

<class 'str'>

In [47]:
emp[1:]

('Vishnu', 'Trivandrum', 2300000, False)

In [48]:
emp[1:len(emp)]

('Vishnu', 'Trivandrum', 2300000, False)

In [50]:
emp[-1:0:-1]

(False, 2300000, 'Trivandrum', 'Vishnu')

In [52]:
emp[0] = 2000

TypeError: 'tuple' object does not support item assignment

In [57]:
print(emp)
print(len(emp))

(1621, 'Vishnu', 'Trivandrum', 2300000, False)
5

In [61]:
# index of element 
emp.index(1621)

0

In [66]:
type((1,))

tuple

In [68]:
emp1 = emp + ("Star of the Quarter",)
emp1

(1621, 'Vishnu', 'Trivandrum', 2300000, False, 'Star of the Quarter')

In [69]:
del emp1

In [70]:
emp1

NameError: name 'emp1' is not defined

## List

In [71]:
lst = ["a", "b", "c"]

for i in lst:
    print(i)
    
print("Is d in lst? ", "d" in lst)

a
b
c
Is d in lst  False

### Casting

In [72]:
tup = ('a', 23.4, [412])

lst1 = list(tup)

lst1

['a', 23.4, [412]]

In [73]:
tup

('a', 23.4, [412])

In [74]:
tup = tup + ('It can override',)
tup

('a', 23.4, [412], 'It can override')

In [75]:
# string to list

list("Great learning")

['G', 'r', 'e', 'a', 't', ' ', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g']

In [77]:
# now casting without blank spaces

list("".join("P S Vishnu".split()))

['P', 'S', 'V', 'i', 's', 'h', 'n', 'u']

In [78]:
lst1

['a', 23.4, [412]]

In [79]:
lst1.insert(2,"test")
lst1

['a', 23.4, 'test', [412]]

In [81]:
lst1.count(1)

0

In [85]:
help(lst1.extend)

Help on built-in function extend:

extend(iterable, /) method of builtins.list instance
    Extend list by appending elements from the iterable.

In [86]:
lst1

['a', 23.4, 'test', [412]]

> Number of vowels in a sentence ?

        try if a list `in` another list

In [93]:
List = lst1.extend(tup)

List

> Find all the indexes of a vowels in a word ?

In [96]:
lst1

['a', 23.4, 'test', [412], 1, 'a', 23.4, [412]]

In [95]:
lst1.pop()

'It can override'

In [97]:
lst1.pop(1)
lst1

['a', 'test', [412], 1, 'a', 23.4, [412]]

In [99]:
lst1[0] = lst1
lst1.remove('a')

**Observ**
- Press shift + tab to view current 
-

In [106]:
del lst1

[[...], 'test', [412], 1, 23.4, [412]]

In [112]:
lst

['c', 'b', 'a']

In [109]:
lst.reverse()

> Shape, size, ______ will help to find the dimension?

In [113]:
lst.sort()
print(lst)
lst.sort(reverse=True)
print(lst)

['a', 'b', 'c']
['c', 'b', 'a']

### Slice

In [114]:
slice = slice(2, 7, 2)

In [115]:
slice

slice(2, 7, 2)

In [119]:
print(lst[slice])
print(type(lst[slice]))

['a']
<class 'list'>

In [120]:
print(lst[2:7:2])
print(type(lst[2:7:2]))

['a']
<class 'list'>

## Set

> Are `sets` mutable, prove ?

In [121]:
s = {1, 4, 5, 5,5}
s

{1, 4, 5}

In [124]:
s[1:]

TypeError: 'set' object is not subscriptable

In [122]:
s[0] = 1
s

TypeError: 'set' object does not support item assignment

In [123]:
s.add(19)
print(s)
s.intersection_update()

## Dictionary

In [125]:
Dict = {
    1 : 'x',
    2 : ["Temple run"]
}

In [127]:
Dict[2]

['Temple run']

> 1. How casting is done in dicionary?
2. How duplicate keys are handled in dictionary ?
3. dict = { tup : tup / list} ?

In [129]:
tup1 = (1, 3 ,4)
tup2 = (2, 4, 6)

In [130]:
di = {tup1 : tup2}

> Can you use a list in fromkeys() ?

In [136]:
lst = [1, 4 , 7, 1 , 4]

print(di.fromkeys(lst))
print(di.fromkeys(lst, 0))

{1: None, 4: None, 7: None}
{1: 0, 4: 0, 7: 0}

In [144]:
d = di.fromkeys(lst)

type(d[1])

NoneType

In [139]:
st = {1, 4, 5}

dict.fromkeys(st)

{1: None, 4: None, 5: None}

```python
dict["key"] , will throw an error

However,

dict.get("key", <custom message>), will not throw an error
```

In [146]:
d[2]

KeyError: 2

In [148]:
print(d.get(2))
print(d.get(2), "Custom message")

None

> Can a 2 x 2 matrix be casted into a dictionary ?

> OR 

>    Can List of tuples be casted to a tuple ? If yes then can multi sized tuple be a dict?

In [154]:
temp_d = dict([(1,4), (2,3)])
temp_d

{1: 4, 2: 3}

In [153]:
dict([(1,4,5), (2,3,"Tadaaa")])

ValueError: dictionary update sequence element #0 has length 3; 2 is required

**Observ**
- A list of tuples of size 2 can be converted to a dictionary
- d = {} will be an empty `dict` not a `set`

In [152]:
a = set()
type(a)

set

In [163]:
di.setdefault('sal', 200000)

200000

In [165]:
2 in di

False

In [170]:
# Your catalogue

me = dict(
    [
        ("name", "Vishnu"),
        ("age", 24),
        ("wt", 70)
    ]
)

In [175]:
inp = input("What do you want to know:")

if inp not in me:
    value = input("We dont have that info please update with value:")
    me.setdefault(inp, value)
    print("Updated list:",str(me))
else:
    print(me[inp])

What do you want to know naal
We dont have that info please update with value star
Updated list {'name': 'Vishnu', 'age': 24, 'wt': 70, 'gender': 'M', 'Gender': 'M', 'naal': 'star'}

In [168]:
upd = {
        1: "one",
        2: "two",
      }

upd.update(me)

In [169]:
upd

{1: 'one', 2: 'two', 'name': 'Vishnu', 'age': 24, 'wt': 70, 'ht': '176'}

In [178]:
del upd[1]
upd

{2: 'two', 'name': 'Vishnu', 'age': 24, 'wt': 70, 'ht': '176'}

> Clearing just the value in a dict of a key?

In [181]:
type(upd[2])

str

In [184]:
age = int(input("Age "))

if age >= 18 :
    print("Eligible")
else:
    print("Not Eligible")

Age 33
Eligible

In [190]:
"a" == "A"

False

In [186]:
"b" > "a"

True

> Check if it is even or odd using BITWISE operators?

In [245]:
num = -1

print("binary", bin(num).split('b')[1])
print("even" if num & 1 == 0 else "odd")

print("Limitation\nThis doesnt work for decimals".center(10,'-'))

binary 1
odd
Limitation
This doesnt work for decimals

In [244]:
print("test".center(10, '-'))

---test---

In [236]:
# Casual method
n = 2.2

"even" if n % 2 == 0 else "odd"

'odd'

In [197]:
username = input("Username ")
pwd = input("Pwd ")

username is "a" and pwd is "b"

Username a
Pwd B

False

In [220]:
# maximum of three numbers
# also the variable name

a = 300
b = -1000 
c = 100

if a<=0 or b<=0 or c<=0:
    print('Negative range')
else:
    max_num, var = a, "a"
    
    if b > max_num:
        max_num, var = b, "b"
    if c > max_num:
        max_num, var = c, "c"

    print(max_num,"with the variable name", var)

Negative range

In [217]:
# Authetication check
user = ""
pwd = ""
root = "root"
root_pwd = "pwd"

if user is root and pwd is root_pwd:
    print("Authenticated")
else:
    valid_user = user is root
    valid_pwd = pwd is root_pwd
    
    if not valid_user:
        print("Username is invalid")
    if not valid_pwd:
        print("Password is invalid")

Username is invalid
Password is invalid