<h1><center>Day 4</center></h1>

**Quiz**

In [8]:
x = [i**+2 for i in range(0,13)]; print(x);

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144]

In [3]:
d = {0: 'hello', 1: 'great', 2: 'learning'}

for i in d:

    print(i)

0
1
2

In [9]:
i = 1

while True:

    if i%28 == 0:

        break

    print(i)

    i+ = 1

SyntaxError: invalid syntax (<ipython-input-9-1c4c46c624fa>, line 11)

# Functions

**Default parameter**

**Note**
- non default arguments should not follow the `DEFAULT arguments`.

In [11]:
def hello(name = "User"):
    print("Welcome", name)
    
hello("Vishnu")
hello()

Welcome Vishnu
Welcome User

In [13]:
def square(i):
    return i*i

square(int(input("Number ")))

Number 2

4

In [15]:
from operator import add, sub, mul
div = lambda x,y : x/y if y!=0 else 0

a = int(input("Input 1:"))
b = int(input("Input 2:"))

print(add(a,b))
print(sub(a,b))
print(mul(a,b))
print(div(a,b))

Input 1:3
Input 2:0
3
3
0
0

**Arbitary arguments**

In [19]:
def something(*args):
    print(type(args))
    
something("This", "is", "different")
something(["This", "is", "also", "different"])

<class 'tuple'>
<class 'tuple'>

**Observation**
- Default type of the arbitary argument is TUPLE.

**Keyword argument**

In [22]:
def get_dictionary(**kwargs):
    return kwargs

In [27]:
get_dictionary(a = "a", b = "b", c = "c")

{'a': 'a', 'b': 'b', 'c': 'c'}

In [23]:
get_dictionary("a", "b", "c")

TypeError: get_dictionary() takes 0 positional arguments but 3 were given

In [29]:
get_dictionary(first_name="John", last_name="Newman")

{'first_name': 'John', 'last_name': 'Newman'}

**Observation**
- Default type of the keyword argument is DICTIONARY.
- Without the keys in the function call it would throw an error.
    - The keys can only be strings, rest types will throw an error.
- General syntax of parameters

In [31]:
# Celsius
#  c = (T_in_celsius * 9 / 5) + 32 

def get_farenheit(c):
    return c * (9/5) + 32

get_farenheit(22.6)

72.68

In [34]:
lst = [22.6, 25.8, 27.3, 29.8]

out = list(map(get_farenheit, lst))

for x,y in zip(lst, out):
    print(x,":",y)

22.6 : 72.68
25.8 : 78.44
27.3 : 81.14
29.8 : 85.64

In [35]:
# Another approach
for temp in lst:
    print(temp,':',get_farenheit(temp))

22.6 : 72.68
25.8 : 78.44
27.3 : 81.14
29.8 : 85.64

In [41]:
def _greet(name, language="english"):
    greet = ""
    
    if language == "german":
        greet = "Halo"
    elif language == "french":
        greet = "Bonjour"
    elif language == "spanish":
        greet = "Holla"
    else:
        greet = "Hello"
        
    print(greet,name)
    
_greet("Vargese", "german")

Halo Vargese

In [61]:
# Separate odd and even list
def separate(*l):
    l = [0]
    return [odd for odd in l if odd%2 == 1 ], [even for even in l if even%2 == 0]

def separate1(*l):
    return [odd for odd in l if odd%2 == 1 ], [even for even in l if even%2 == 0]

lst = [i for i in range(1,10)]

print(separate(lst))

print(separate1(10,12,13))

([], [0])
([13], [10, 12])

In [56]:
def swap(a, b):
    a, b = b, a
    return a, b
    
a=1 
b=2
swap(a, b)

(2, 1)

In [67]:
def swap(**vals):
    a, b = vals.values()
    return b, a

a=1 
b=2
swap(a=a, b=b)

(2, 1)

## Scope of variables

In [72]:
c = 10

def test():
    c = 0
    d = 12
    print(c, d)
    
test()

0 12

**Referencing global variable**

> How to update a global variable inside a function with same variable_name

In [75]:
from keyword import kwlist

print(kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [76]:
a = 10

def test_global():
    global a    # this will refer the global variable
    a = 1

print('Before',a)    
test_global()
print('After',a)

Before 10
After 1

**Lambda function**

In [80]:
pri = lambda  : print('Tada')
pri()

Tada

In [88]:
args = lambda *arg : print(arg)
args(1,4,5,6)

(1, 4, 5, 6)

In [92]:
(lambda *arg : print(arg))(1,2,3)

(1, 2, 3)

In [95]:
(lambda **d: print(d))(a=1, b=2, c=99)

{'a': 1, 'b': 2, 'c': 99}

In [96]:
multi_call = lambda a=1,b=2,c=3 : print(a+b+c)

multi_call(10)

15

**Observations**
- no argument lambda is possible
- arbitary arguments and keyword arguments are supported
- default parameters supported
- Everything supported by a normal method can be extended here.

In [98]:
# tables using lambda

def table_of(n):
    return lambda x : n*x

table_iter = table_of(5)

[table_iter(i) for i in range(1,11)]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

**Map, filter, reduce and accumulate**

In [ ]:
# Map, iterative process

In [108]:
# Table of the below numbers
lst = [1, 5, 7, 9]

table_iters = list(map(table_of, lst))

# Clean version
for table in table_iters:
    print(list(map(table, [i for i in range(1,11)])))
    
print('\n')
# one liner 
print([list(map(table, [i for i in range(1,11)])) for table in table_iters])

# list(map(table_iters, [i for i in range(1,11)]))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]
[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]


[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [5, 10, 15, 20, 25, 30, 35, 40, 45, 50], [7, 14, 21, 28, 35, 42, 49, 56, 63, 70], [9, 18, 27, 36, 45, 54, 63, 72, 81, 90]]

In [109]:
# Filter

list(filter(lambda x: x > 3, lst))

[5, 7, 9]

> Can map be used as a filter?

        NO, map can return boolean but it doesnt remove elements which are false.

In [115]:
# Reduce
from functools import reduce

# XOR of all
print(lst)
print(reduce(lambda x,y : x^y, lst))

[1, 5, 7, 9]
10

In [117]:
# find the min/max in the list

print(reduce(lambda x, y: x if x > y else y, lst))

9

In [118]:
import operator

reduce(operator.mul, lst)

315

In [123]:
# accumulate
# cumulative output

import itertools
print(lst)
print(list(itertools.accumulate(lst, lambda x,y: x+y )))

[1, 5, 7, 9]
[1, 6, 13, 22]

> is it possible to write fibonacci series using `accumulate` ?
```python
[0 1 1 2 3 5 8 13 21 34 ...]
```

In [126]:
from itertools import accumulate

list(accumulate([0, 1, 0, 0, 0, 0, 0, 0], operator.add))

[0, 1, 1, 1, 1, 1, 1, 1]

> Find whether a number is floating point number?