# Python List

### 1. Create your own lists otherwise use the List1 = ['a','b','c']  to operate the below Python list  Operations?

### 1. List Operations
    A. Repetition (*)
    B. Concatenation (+)
    C. Membership
    D. Length
    E. Iteration

In [1]:
List = ['a', 'b', 'c']

##### 1.A. Repetition:

In [2]:
List * 3

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

#### 1.B. Concatenation (+):

In [3]:
List + List[::-1]

['a', 'b', 'c', 'c', 'b', 'a']

#### 1.C. Membership:

In [4]:
'c' in List

True

#### 1.D. Length:

In [5]:
len(List)

3

#### 1.E. Iteration:

In [6]:
for l in List:
    print(l)

a
b
c

### 2.1. Create your own lists to operate the below Python List Built-in functions?
##### otherwise use the
            List1 = [1, 2, 4, 5, 54]
            List2 = [23,54,789,9876,876,532,56]
            List3 = [1, 2,76543,289,87654,33,456789876,5432,45678]

    A.	max(list)	   
    B.	min(list)	   
    C.	list(seq)

In [7]:
List1 = [1, 2, 4, 5, 54]
List2 = [23,54,789,9876,876,532,56]
List3 = [1, 2,76543,289,87654,33,456789876,5432,45678]

#### 2.C. max(list):

In [8]:
max(List1)

54

#### 2.D. min():

In [9]:
min(List2)

23

#### 2.E.list:

In [10]:
list("This is interesting")

['T',
 'h',
 'i',
 's',
 ' ',
 'i',
 's',
 ' ',
 'i',
 'n',
 't',
 'e',
 'r',
 'e',
 's',
 't',
 'i',
 'n',
 'g']

### 3. Create your own lists to operate the below  thePython List built-in methods?
##### otherwise use below list:
           List = ['white','red', 'blue', 'green','blue','yellow', 'black']

    A.	list.append()
    B.	list.clear()	 
    C.	List.copy()	           
    D.	list.count()	       
    E.	list.extend()	  
    F.	list.index()
    G.	list.insert()	
    H.	list.pop()	
    I.	list.remove()	  
    J.	list.reverse()	        
    K.	list.sort()

In [11]:
List = ['white','red', 'blue', 'green','blue','yellow', 'black']

#### 3.A) append:

In [12]:
List.append("torquoise")

#### 3.B) list.clear():

In [13]:
List1.clear()
List1

[]

#### 3.C) List.copy()

In [14]:
List1 = List.copy()
List1

['white', 'red', 'blue', 'green', 'blue', 'yellow', 'black', 'torquoise']

#### 3. D) list.count(obj):

In [15]:
List.count("blue")

2

#### 3.E) list.extend(seq):

In [16]:
List.extend(["Gold", "Silver"])

In [17]:
List

['white',
 'red',
 'blue',
 'green',
 'blue',
 'yellow',
 'black',
 'torquoise',
 'Gold',
 'Silver']

#### 3.F) list.index(obj):

In [18]:
List.index("Gold")

8

#### 3.G) list.insert(index, obj):

In [19]:
List.insert(3, "violet")
List

['white',
 'red',
 'blue',
 'violet',
 'green',
 'blue',
 'yellow',
 'black',
 'torquoise',
 'Gold',
 'Silver']

#### 3.H) list.pop(obj=list[-1]):

In [20]:
List.pop()

'Silver'

#### 3.I) list.remove(obj):

In [21]:
List.remove("Gold")
List

['white',
 'red',
 'blue',
 'violet',
 'green',
 'blue',
 'yellow',
 'black',
 'torquoise']

#### 3.j) list.reverse():

In [22]:
List.reverse()
List

['torquoise',
 'black',
 'yellow',
 'blue',
 'green',
 'violet',
 'blue',
 'red',
 'white']

#### 3.K) list.sort([func]):

In [23]:
# Convert alternate elements to Title case
for i,l in enumerate(List):
    if i % 2 == 0:
        List[i] = l.title()
        
# key calls a method before sorting/comparing the elements        
List.sort(key = str.upper, reverse=True)
print(List)

['Yellow', 'White', 'violet', 'Torquoise', 'red', 'Green', 'blue', 'Blue', 'black']

# Python Tuple

### Create your own Tuple to operate the below Python tuple Operations ?
##### otherwise use the
                Tuple1 = ('white','red', 'blue', 'green','blue','yellow', 'black')
                Tuple2 = (1,4,1,3,4,5,65)

### 1. Tuple Operations
    A. Repetition (*)
    B. Concatenation (+)
    C. Membership
    D. Length
    E. Iteration

In [24]:
Tuple1 = ('white','red', 'blue', 'green','blue','yellow', 'black')
Tuple2 = (1,4,1,3,4,5,65)

##### 1.A. Repetition:

In [25]:
Tuple2 * 3

(1, 4, 1, 3, 4, 5, 65, 1, 4, 1, 3, 4, 5, 65, 1, 4, 1, 3, 4, 5, 65)

#### 1.B. Concatenation (+):

In [26]:
Tuple1 + Tuple2

('white',
 'red',
 'blue',
 'green',
 'blue',
 'yellow',
 'black',
 1,
 4,
 1,
 3,
 4,
 5,
 65)

#### 1.C) Membership:

In [27]:
"white" in Tuple1

True

#### 1.D) Length:

In [28]:
len(Tuple1 + Tuple2)

14

#### 1.E) Iteration:

In [29]:
for i in Tuple2:
    print(i * 2)

2
8
2
6
8
10
130

### 2.Create your own Tuple to operate the below Python tuple inbuilt functions ?
##### otherwise use the
            Tuple1 = (11,4,21,4,115,6,13,51,4,16,77,8,17,17,876,89,8765,14,51,11,876,9,3456,4234)

         A.	max(Tuple)	   
         B.	min(Tuple)	    
         C.	Tuple(seq)

In [30]:
Tuple1 = (11,4,21,4,115,6,13,51,4,16,77,8,17,17,876,89,8765,14,51,11,876,9,3456,4234)

#### 2.A) max():

In [31]:
max(Tuple1)

8765

#### 2.D) min():

In [32]:
min(Tuple1)

4

#### 2.E) Tuple:

In [33]:
tuple("TEstinG")

('T', 'E', 's', 't', 'i', 'n', 'G')

# Python Set

In [34]:
#### Create your own Set to operate the below Python Set Operations ?
#### otherwise use the below set:
Set1 = {1,4,3,4,4,3,5,6,7,8,9,6,8,5,436,54,876,9876,87654,787654,56}
Set2 = {9,8,9,5,7,4,6,57,88,7654,8,876,678,8765,45,6789,8765,467,887,65}

### 1. Set Operations
     A. Union 
     B. Intersection
     C. Difference
     D. Symmetric difference

#### 1.A) Union:

In [35]:
Set1 | Set2

{1,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 45,
 54,
 56,
 57,
 65,
 88,
 436,
 467,
 678,
 876,
 887,
 6789,
 7654,
 8765,
 9876,
 87654,
 787654}

#### 1.B. Intersection

In [36]:
Set1 & Set2

{4, 5, 6, 7, 8, 9, 876}

#### 1.C. Difference

In [37]:
print(Set1 - Set2)

print(Set2 - Set1)

{1, 3, 787654, 87654, 436, 9876, 54, 56}
{65, 6789, 678, 7654, 45, 467, 887, 88, 57, 8765}

####  1.D. Symmetric difference:

In [38]:
# Symm difference means union - intersection
print(Set1 ^ Set2)

# print(Set2 ^ Set1)

{65, 1, 3, 787654, 6789, 467, 9876, 88, 7654, 678, 87654, 45, 436, 54, 887, 56, 57, 8765}

# Python Dictionary

#### Create your own Dictionary to operate the below Python Built-in Dictionary functions
#### otherwise use the below Dictionary:
                           Dictionary = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

    A.	len(dict)     
    B.	str(dict)     
    C.	type(variable)

In [39]:
Dictionary = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
backup = Dictionary.copy()

#### 1.A) len(dict):

In [40]:
len(Dictionary)

3

#### 2.B) str(dict):

In [41]:
print(str(Dictionary))

{'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

#### 1.C) type(variable):

In [42]:
print(type(Dictionary.items()))

print(type(Dictionary.keys()))

print(type(Dictionary.values()))

<class 'dict_items'>
<class 'dict_keys'>
<class 'dict_values'>

### 2.Create your own Dictionary to operate the below Python Built-in Dictionary methods
#### otherwise use the below Dictionary:

                            dictionaries = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

    A.	dic.clear()	
    B.	dict.copy()	   
    C.	dict.fromkeys()
    D.  dict.get(key[, value])    	
    E.	dict.items()	
    F.	dict.keys() 	
    G.	dict.setdefault()	
    H.	dict.update()	
    I.	dict.values()

#### 2.A) dic.clear():

In [43]:
dic = Dictionary
dic.clear()
# Since dic is a reference and not a copy of Dictionary
# dic.clear() will clear values from the reference
Dictionary

{}

#### 2.B) dict.copy():

In [44]:
Dictionary = backup.copy()
Dictionary

{'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

#### 2.C) dict.fromkeys():

In [45]:
# dict.fromkeys is used to cast from other types
print(dict.fromkeys((1,2,4), "2"))

print(dict.fromkeys([1,3,3,1], 11))

{1: '2', 2: '2', 4: '2'}
{1: 11, 3: 11}

#### 2.D) dict.get(key[, value]) :

In [46]:
# Advantage over dict[key], If key not found then no exception thrown
print(Dictionary.get('Name'))

print(Dictionary.get('a'))

None
alpha

#### 2.E) dict.items()

In [47]:
Dictionary.items()

dict_items([('a', 'alpha'), ('o', 'omega'), ('g', 'gamma')])

#### 2.F) dict.keys() :

In [48]:
Dictionary.keys()

dict_keys(['a', 'o', 'g'])

#### 2.G) dict.setdefault():

In [49]:
print(Dictionary)
Dictionary.setdefault("key","value")
print(Dictionary)

{'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
{'a': 'alpha', 'o': 'omega', 'g': 'gamma', 'key': 'value'}

#### 2.H) dict.update():

In [50]:
d = {}
d.update(Dictionary)

In [51]:
d

{'a': 'alpha', 'o': 'omega', 'g': 'gamma', 'key': 'value'}

 #### 2.L)  dict.values():

In [52]:
Dictionary.values()

dict_values(['alpha', 'omega', 'gamma', 'value'])

# Conditional Statements

    1. IF 
    2. IF-ELSE
    3. If...Elif...Else

#### 1. Store a number in a variable and check if that variable is equal to 10, If yes, print "Hello"

In [53]:
val = 10
# val = 11

if val == 10:
    print("Hello")

Hello

#### 2. Store a number in a variable and check if that variable is equal to 10, If yes, print "Hello", else print "Good Bye"

In [54]:
if val == 10:
    print("Hello")
else:
    print("Good Bye")

Hello

# While Loop

#### 1. Print Hello World 5 times

In [55]:
i = 0
while i < 5:
    print("Hello World")
    i += 1

Hello World
Hello World
Hello World
Hello World
Hello World

# For Loop

#### 1. Take a list [23,1,0,12,45,-1,46], loop through each element and print it

In [56]:
lst =  [23,1,0,12,45,-1,46]

for l in lst:
    print(l)

23
1
0
12
45
-1
46

#### 2. Take a list [1,2,3,4,5,6,7,8], loop through each element and print it. But, use break to come out of the loop after printing the second element

In [57]:
lst = [1,2,3,4,5,6,7,8]

for i, l in enumerate(lst):
    if i == 2:
        break;
    print(l)
# else:
#     print("It didnt break")

1
2