# <center>EDA</center>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## Literacy survey

In [2]:
ls

 Volume in drive D is DATA
 Volume Serial Number is 7EF8-6C7E

 Directory of D:\Github\AI-Checklist\DSE\Week-6-Mid Exam 2\Day3-EDA

25-09-2019  15:08    <DIR>          .
25-09-2019  15:08    <DIR>          ..
25-09-2019  12:39    <DIR>          .ipynb_checkpoints
25-09-2019  15:08           642,055 eda.ipynb
25-09-2019  11:57            55,628 insurance.csv
               2 File(s)        697,683 bytes
               3 Dir(s)  895,847,247,872 bytes free

In [3]:
df = pd.read_csv('./insurance.csv')

df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
def age_cat(x):
    if x <= 23:
        return 1
    elif x <= 39:
        return 2
    elif x <= 59:
        return 3
    else:
        return 4

In [5]:
age_d = {
    1:"18-23",
    2:"24-39",
    3:"40-59",
    4:"60+"
}
age_d

{1: '18-23', 2: '24-39', 3: '40-59', 4: '60+'}

In [6]:
df['age_cat'] = df['age'].apply(age_cat)

### Bi variate analysis

In [7]:
cat_cols

NameError: name 'cat_cols' is not defined

Sex vs charges

In [ ]:
for i,col in enumerate(cat_cols,1):
    plt.figure(i)
    df['col'].plot.bar()
    sns.barplot(data=df,x=col,y="charges",hue="age_cat")

Both in male and female are paying higher health insurance charges.

In [ ]:
xy = df.groupby(by="sex")['charges'].agg('mean')

sns.barplot(xy.index,,hue="age_cat")

In [ ]:
cat_cols = df.select_dtypes(include="object").columns
cat_cols

Age v/s charges

In [ ]:
sns.relplot(data=df, x='age',y='charges',hue='smoker')

In [ ]:
df['children'].describe()

In [ ]:
# sns.barplot(data=df,x="children",y="charges")
df.groupby(by="children")['charges'].agg('mean')

In [ ]:
df.groupby(by="children")['charges'].agg('mean').plot.bar()
plt.show()

In [ ]:
sns.scatterplot(data=df, x='age',y='charges',hue='sex')

In [ ]:
sns.scatterplot(data=df, x='age',y='charges',hue='region')

In [ ]:
sns.pairplot(df)

In [ ]:
df.columns

In [ ]:
pd.crosstab(df['sex'],df['smoker'])

In [ ]:
pd.crosstab(df['sex'],df['smoker'],normalize=0).plot.bar(stacked=True)

In [ ]:
df.columns

In [ ]:
sns.swarmplot(data=df, x='sex',y='charges')

In [ ]:
sns.relplot(data=df, x='bmi',y='charges',hue="age_cat")