## Abalone dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
from scipy.stats import zscore
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [3]:
df = pd.read_csv('abalone.csv')
df.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [10]:
df['Sex'].value_counts()

M    1528
I    1342
F    1307
Name: Sex, dtype: int64

In [11]:
X = df.drop(columns=['Sex'])
X.head()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [18]:
print(X.shape)
X = StandardScaler().fit_transform(X)
X.shape

(4177, 8)

(4177, 8)

In [21]:
cluster_range = range(2,15)

cluster_errors = []
labels = []
for n in cluster_range:
    cluster = KMeans(n)
    cluster.fit(X)
    labels.append(cluster.labels_)
    centroids = cluster.cluster_centers_
    cluster_errors.append(cluster.inertia_)
# cluster_df = 
labels

[array([0, 0, 0, ..., 1, 1, 1]),
 array([0, 1, 0, ..., 2, 2, 2]),
 array([1, 2, 1, ..., 0, 0, 3]),
 array([1, 3, 1, ..., 2, 2, 0]),
 array([3, 1, 0, ..., 2, 2, 5]),
 array([1, 6, 1, ..., 5, 5, 3]),
 array([4, 6, 3, ..., 0, 0, 2]),
 array([1, 7, 1, ..., 5, 5, 0]),
 array([3, 4, 0, ..., 6, 6, 5]),
 array([ 5, 10,  3, ...,  0,  0,  2]),
 array([2, 6, 8, ..., 9, 9, 4]),
 array([ 9, 11,  4, ...,  5,  5, 12]),
 array([ 3, 12,  7, ...,  1,  2, 11])]