# TAKE HOME LAB EXERCISE

In [1]:
import pandas as pd
from os import listdir

print(listdir())

['.ipynb_checkpoints', 'data', 'Day7.ipynb', 'dummy.ipynb', 'NPV_INCLASS_LABEXERCISE_DAY03-(Questions).ipynb', 'NPV_TAKEHOME_LABEXERCISE_DAY03 - (Questions).ipynb', 'NPV_TAKEHOME_LABEXERCISE_DAY03.ipynb']

-----------------------

**Q.no (1) . Write a code to load 'employees.csv' as `df`.**

----------------

**Q.no(2).Write a code to `MERGE`(`outer`)  df1 & df2 as `data`.**

----------------

**Q.no(3) . Write a code to `RENAME` the column from `salary` to `earnings`  of `employees dataset` and assign it to the new dataframe named as `data_01` .**

-----------------

**Q.no(4) . Write a code to `drop` the column 'DOB' of `employees dataset` and assign it to the new dataframe named as `data_02`.**

-----------------

**Q.no(5) . Write a code to `drop` the `column no. 3 ` of `data_02` as per there `index position` .**

-----------------

**Q.no(6). Write a code to replace all the `1` in the `year of experience` to `2` of `data_02`and assign it to the new dataframe named as `data_03`.**

-----------------

**Q.no(7). Write a code to identify duplicates in `Designation` column and show a `count` of it from `data_02`.**

--------------

**Q.no(8). Write a code to show `average` `salary` of all the employees.**

---------------

**Q.no(9). Write a code to show mostly `designated position` for all the employees from employees dataset.**

----------------

**Q.no(10). Write a code to show the `average salary` for all `individual` `'designations'`.**

-----------------

**Q.no(11). Write a code to show how much do the `salary` is `skewed` in `employees dataset`.**

-------------------------

**Q.no(12). Write a code to show how much is the `kurtosis` in `salary` column for employees dataset.**

# --------------------------------------- HAPPY LEARNING --------------------------------------------

--------------------